body {
    color: #082b48;
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
    line-height: 1.5;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #082b48
}

a:hover {
    opacity: 0.7;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

.clear::after {
    content :"";
    clear: both;
    display: block;
}

h2 {
    font-size: 36px;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 90px;
}


/*---  header   --*/

.top {
    background-image: url(../img/header.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
    position: relative;
}


header {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}


.header-logo {
    width: 138.57px;
    height: 60px;
}

.header-nav ul {
    display: flex;
    line-height: 60px;
}

.header-nav-item {
    margin: 0 30px;
    font-size: 18px;
}

.catch {
    text-align: center;
    font-size: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}




/*---  news   --*/

.news {
    margin-bottom: 120px;
}


.news-list {
   margin: 0 auto;
   max-width: 700px;
}

.news-list-item {
    border-bottom: 1px solid #000;
    padding: 19px 0;
    font-size: 18px;
}

.news-list-item:first-child{
    padding-top: 0;
}

.news-list_border {
    border: 1px solid #6A808A;
    padding: 5px 8px;
    margin: 0 30px;
    font-size: 11px;
}





/*--------
  card 
---------*/


.card-wrapper{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
    max-width: 980px;
}

.card-list img {
    max-width: 430px;
    max-height: 280px;
}

.card-title {
    font-size: 24px;
    margin-top: 20px;
}

.card p {
    border-bottom: 1px solid #000;
    padding: 10px 0;
}

.btn {
    text-align: center;
    margin-bottom: 120px;
    margin-top: 60px;
}

.btn-card {
    display: inline-block;
    padding: 8px 20px;
    border: 1px solid #000;
    
}



/*---  links   --*/


.links {
    display: flex;
}

.links img {
    vertical-align: top;
}



/*---  footer   --*/

footer {
    background-color: #000;
    padding-top: 30px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.footer-logo {
    width: 92.38px;
    height: 38.88px;
}

.footer-right ul {
    display: flex;
}

.footer-item {
    margin: 0 30px;
    font-size: 18px;
    color: #fff;
    line-height: 38.88px;
}

.copyright {
    color: #fff;
    text-align: center;
}



/*---  レスポンシブ  --*/

@media screen and (max-width:480px){
    /*画面幅が480pxまでの時*/
  }
  @media screen and (min-width:781px){
    /*画面幅が781px以上の時*/
  }